:root {
  --color-white: #fff;
  --color-black: #000;
  --color-primary-background: #282828;
  --color-secondary-background: #7fffd4;
  --color-hover: #6c3fe6;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --border-radius-5: 5px;
  --color-picker-width: 20rem;
  --fw-bold: 700;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

input[type='color'] {
  appearance: auto;
}

button {
  all: unset;
  cursor: pointer;

  &:focus-visible {
    outline: 2px solid var(--color-black);
  }
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: var(--color-primary-background);
}

.header {
  width: 95dvw;
  padding-block: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.title {
  padding: 0.8rem;
  background-color: var(--color-secondary-background);
  border-radius: var(--border-radius-5);
  box-shadow: var(--box-shadow);

  h1 {
    margin: 0;
  }
}

.menuButton {
  padding: 0.5rem;
  border: 2px solid transparent;
  border-radius: var(--border-radius-5);
  background-color: var(--color-secondary-background);
  transition: opacity 0.2s ease-in-out, border 0.2s ease-in-out;

  span {
    width: 1.8rem;
    height: 0.2rem;
    display: block;
    background-color: var(--color-black);
  }
}

.openMenuButton {
  span {
    &:not(:last-child) {
      margin-block-end: 0.3rem;
    }
  }

  &:hover {
    border: 2px solid var(--color-black);
  }
}

.closeMenuButton {
  span {
    transform-origin: 17px 1px;

    &:first-child {
      transform: rotate(-45deg);
    }

    &:last-child {
      transform: rotate(45deg);
    }
  }

  &:hover {
    span {
      opacity: 0.7;
    }
  }
}

.colorPicker {
  width: min(95dvw, var(--color-picker-width));
  padding-block: 2rem;
  padding-inline: 1rem;
  position: absolute;
  inset-inline-start: 50%;
  inset-block-start: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-secondary-background);
  border-radius: var(--border-radius-5);
  box-shadow: var(--box-shadow);
  text-align: center;
}

.colorPickerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.actionButton {
  color: var(--color-black);

  &:hover {
    color: var(--color-hover);
  }
}

.colorInfo {
  margin: 0;
  padding-inline-start: calc(var(--color-picker-width) - 16.25rem);
  margin-block-end: 1.75rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
  font-weight: var(--fw-bold);
  font-size: 1.1rem;
  list-style-type: none;
  text-align: left;
}

.sidebar {
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  padding-block: 1rem;
  padding-inline: 1.5vw;
  position: fixed;
  inset-block-start: 0;
  inset-inline-end: 0;
  background-color: var(--color-secondary-background);
  overflow-y: auto;
  transition: opacity 0.3s ease-in-out, inset-inline-end 0.3s ease-in-out;
  opacity: 1;

  @media (min-width: 550px) {
    max-width: 300px;
  }
}

.sidebarBox {
  padding-inline: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-secondary-background);
  border-radius: var(--border-radius-5);
}

#colorList {
  padding: 0;
  margin: 0;
  margin-block-start: 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: var(--fw-bold);
  list-style-type: none;

  li {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      margin-block-end: 0.8rem;
    }
  }
}

.hideSidebar {
  opacity: 0;
  inset-inline-end: -100%;
}

.deleteButton {
  color: var(--color-black);

  &:hover {
    color: var(--color-hover);
  }
}

.buttonContainer {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
